@font-face {
  font-family: biscuit;
  src: url('Biscuit.ttf');
}
body {
  overflow-x: hidden;
  overflow-y: hidden;
  background: linear-gradient(#FFF8C4, #FFE3BB);
  font-family: biscuit;
  color: #000000;
  font-size: 17px;
  margin: 0px;
  padding: 0px;
}
h2{
    font-size: 1.5em;
    margin: 0.83em 0;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans', sans-serif;
}
h3{
    font-size: 1.17em;
    margin: 1em 0;
    font-weight: bold;
    font-family: biscuit;
}
table {
  font-size: 17px;
}
a {
  text-decoration: none;
  color: #DDB05B;
}
a:hover{
    text-decoration: underline;
}
input {
  height: 22px;
  border: 1px;
  color: #DDB05B;
  border-radius: 2px;
}
button {
  height: 22px;
  border: 1px;
  color: #DDB05B;
  border-radius: 2px;
}
p {
    font-weight: 400;
}
.bold{
    font-weight: 700;
}
/*=====================
=========NAVIGATION BAR
=======================*/

nav {
  width: 100%;
  background-color: rgba(170, 122, 74, 0.25);
  text-align: left;
  font-weight: 600;
  border-radius: 3px;
  font-size: 24px;
  padding: 0 3px;
  margin: 0;
}
nav ul {
  margin: 0 auto;
  padding: 0;
  max-width: 860px;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
  padding: 3px 0;
  margin: 0;
  vertical-align: middle;
  color: #DDB05B;
  position: relative;
}
nav ul li:hover {
  color: #664114;
  background-color: rgba(170, 122, 74, 0.4);
}
nav ul li a {
  padding: 20px 20px 20px 10px;
  margin: 0;
  display: block;
  border-left: 1px solid rgb(166, 119, 72);
  color: inherit;
  vertical-align: middle;
}
#logo {
  vertical-align: middle;
}
#appTitle {
  border: 0;
  font-size: 32px;
  padding: 19px 20px 19px 10px;
  vertical-align: middle;
  display: inline-block;
  margin: 0;
  color: #DDB05B;
}
.button {
  height: 22px;
  background-color: #DDB05B;
  border: 1px solid #b48f49;
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 4px;
}
.content {
    overflow-x: hidden;
    width: calc(100% - 70px);
    max-width: 800px;
    background-color: rgba(230, 230, 230, 0.3);
    padding: 10px 10px 2em 60px;
    border-radius: 10px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans', sans-serif;
}
.title {
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 30px;
  width: 100%;
  background-color: rgba(170, 122, 74, 0.25);
  font-weight: bold;
  padding: 0;
  border-radius: 3px;
  -moz-border-radius: 3px;
}

.invisible { display: none; }

/*============
=======CAPTURE
==============*/

#captureForm {
  margin: 0 auto;
}

#btn-download { display: block; }

#area-frame-preview img {
  display: inline-block;
  margin: 0.5em;
}
